* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background-image: url("https://bing.hecady.com/api/image");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(34, 33, 34, 0.3);
}

.header .nav {
    float: left;
    height: 40px;
    margin-left: 100px;
    line-height: 40px;
}

.header .user {
    float: right;
    height: 40px;
    margin-right: 100px;
    line-height: 40px;

}

.header .user img {
    height: 40px;
    border-radius: 50%;
    transition: all .4s;
}

.header .user img:hover {
    transform: rotate(-360deg);
}

.header li {
    display: inline;
}


.header a {
    float: left;
    text-decoration: none;
    font-weight: 550;
    color: #ffffff;
    padding: 0 20px;
}

.header a:hover {
    /*background-color: #ccc;*/
    color: #777777;
}


.clearfix::after, .clearfix::before {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.btn {
    position: absolute;
    top: 80%;
    left: 60%;
}

.btn .title {
    float: right;
    padding: 10px 20px;
    color: #ffffff;
    text-align: center;
    background-color: #222122;
    border-radius: 50px;
}

.btn a {
    float: right;
    padding: 10px 20px;
    margin-left: 20px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #222122;
    border-radius: 50px;
}

.btn a:hover {
    font-weight: 600;
    background-color: #ffffff;
    color: #000000;
}

.footer {
    width: 100%;
    height: 20px;
    line-height: 20px;
    padding: 8px;
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.17);
    color: #ffffff;
}

.footer a {
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
}

.footer a:hover {
    color: #ccc;
}