<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bing每日一图</title>
    <link rel="stylesheet" href={{ url_for("static", filename = "css/index.css") }}>
    <link rel="icon" href={{ url_for("static", filename = "image/20220020280Y0ef642afd884e.png") }}>
    <script type="text/javascript" src="{{ url_for("static", filename = "js/download.js") }}"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
</head>
<body>
<div class="header clearfix">
    <div class="nav">
        <ul class="clearfix">
            <li><a href={{ url_for("index") }}><h3>BingWallpaper</h3></a></li>
            <li><a href="https://www.smmely.cn" target="_blank">我的主页</a></li>
            <li><a href={{ url_for("readme") }}>接口文档</a></li>
            <li><a href="https://github.com/Smalltred/BingWallpaper" target="_blank">开源地址</a></li>
        </ul>
    </div>
    <div class="user">
        <ul>
            <li><a href="https://www.hecady.com" target="_blank">Hecady</a></li>
            <li><img src="https://thirdqq.qlogo.cn/g?b=sdk&k=VTdtxlgjQ2ypzlTRzUweFA&s=640&t=1630524133" alt="" title="">
            </li>
        </ul>
    </div>
</div>
<div class="btn clearfix">
    <a href="javascript:void(0)" onclick="downloadImage('{{ result.data.url }}')">点击下载</a>
    <div class="title" id="title">{{ result.data.title }}</div>
</div>
<div class="footer">
    <span>Copyright</span>
    <span>By</span>
    <span><a href="https://www.hecady.com" target="_blank">hecady</a></span>
</div>
</body>
</html>